a {
  text-decoration: none;
  color: rgb(8, 0, 102);
}

label {
  display: block;
}

#formTextArea {
  resize: none;
  width: 100%;	
  /* Estas 3 lineas corrigen un bug visual del
  textbox que hace que se vea fuera del contenedor
  fuente: https://davidwalsh.name/textarea-width */
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  padding: 5px;
	width: 100%;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#formContainer {
  display: flex;
  width: 100%;
  max-width: 300px;
  flex-direction: column;
}

#inputsContainer {
  display: flex;
  text-align: start;
  justify-content: space-between;
}


.input {
  width: 45%;
}

.inputText {
  width: 100%;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#submitBtn {
  width: 40%;
  margin-top: 30px;
  text-decoration: none;
  background-color: white;
  color: rgb(8, 0, 102);
  border: 2px solid rgb(8, 0, 102); /* Green */
  font-size: 0.75em;
  border-radius: 6px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.323);

  transition-duration: 0.2s;
}

#submitBtn:hover {  
  background-color: rgb(8, 0, 102); /* Green */
  color: white;
}

