.link {
  color: rgb(235, 232, 228);
  font-weight: 900;
  font-size: larger;
  padding: 1em 2em;
  text-decoration: none;
  
}
.link:hover {
  background: rgba(242, 239, 239, 0.395);
}

nav {
  display: flex;
  background: black;
  justify-content: space-around;
}
