html, body {
  margin: 0;
  height: 100%;
  background: rgb(220, 217, 217);
  color: rgb(8, 0, 102);
  font-weight: 900;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}


